{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Presentation edit</h1>

    <form action="{{ path('presentation_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_row(edit_form.title) }}
        {{ form_row(edit_form.time) }}
        {{ form_row(edit_form.presenter) }}
        <a href="{{ path('person_new') }}">Create new Person</a>
        {{ form_row(edit_form.session) }}
        <a href="{{ path('session_new') }}">Create new Session</a>
        {{ form_row(edit_form.file) }}
        {{ form_rest(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('presentation') }}">
            List of Presentations
        </a>
    </li>
    <li>
        <form action="{{ path('presentation_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
